<!DOCTYPE html>
<html>

<head>
    <title>Confirm email</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <a href="{{url}}">Confirm email</a>
</body>

</html>