<div class="grid-container">
  {{#each items}}
    <div class="grid-item">
      <img src="{{this.image}}" alt="{{this.title}}">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
    </div>
  {{/each}}
</div>
