<nav class="nav-grid">
  <div class="grid">
    <a href="#hero" class="nav-item">Home</a>
    <a href="#about-section" class="nav-item">About</a>
    <a href="#feature-section" class="nav-item">Feature</a>
    <a href="#produk-section" class="nav-item">Produk</a>
    <a href="#services-section" class="nav-item">Services</a>
    <a href="#contact-section" class="nav-item">Contact</a>
  </div>
</nav>
