name: NestJS API CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run e2e tests
        run: docker-compose -f docker-compose.ci.yaml --env-file env-example -p ci up --build --exit-code-from api
